<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>114230308276-od46n4d07ad8fiomq3f95vkdvinea6mi.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.114230308276-od46n4d07ad8fiomq3f95vkdvinea6mi</string>
	<key>API_KEY</key>
	<string>AIzaSyDoRhbyYQYs9eqBjYDuS_ACkh_C1XbKI88</string>
	<key>GCM_SENDER_ID</key>
	<string>114230308276</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.cursoios.teste1</string>
	<key>PROJECT_ID</key>
	<string>projeto1-89736</string>
	<key>STORAGE_BUCKET</key>
	<string>projeto1-89736.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:114230308276:ios:cd4e17bf4dc63aee6096e1</string>
</dict>
</plist>